.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: bisque;
    width: 100vw;
}

.logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.nameContainer {
    display: flex;
    align-items: center;
    font-size: 3rem;
}

.header {
    display: inline;
    margin-left: 1rem;
    color: black;
}